.search{
    width: 40%;
    background-color: rgba(32,4,84,0.8);
    margin-bottom: 80px;
    min-height: 35rem;
}

.results {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.align {
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 330px) {
    .search{
        width: 50%;
    }
}

@media screen and (min-width: 750px){
    .align {
        margin-left: 1rem;
        font-size: 1.25rem;
    }
}

.button {
    height: 2rem;
    margin-right: 20px;
    margin-top: 22.5px;
    padding: 0px 20px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(154, 78, 255);
    font-weight: 700;
}

.button:active {
    transform: translateY(2px);
}