.App {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625)), url('../../public/turntable-1109588_1280.jpg');
  background-image: -webkit-linear-gradient(top, rgba(16, 2, 42, 0.625), rgba(16, 2, 42, 0.625)), url('../../public/turntable-1109588_1280.jpg');
  background-color: blueviolet;
  background-position: 30% 0%;
}

.main {
  display: flex;
  justify-content: space-around;
}
