.Track {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.firstrow {
    margin: 2px;
    color: white;
}

.secondrow {
    margin: 2px;
    color: lightgrey;
}

.thirdrow {
    margin: 2px;
    color: lightgrey;
}