.playlist{
    width: 40%;
    background-color: rgba(32,4,84,0.8);
    margin-bottom: 80px;
}


.input {
    text-align: center;
    height: 26px;
    margin-left: 8%;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin-bottom: 18px;
    width: 80%;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid rgb(154, 78, 255);
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.button {
    margin-bottom: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(154, 78, 255);
    font-weight: 700;
}

.button:active {
    transform: translateY(2px);
}

@media screen and (min-width: 520px) {
    .button {
        width: 60%;
        padding: 12px;
    }
}

@media screen and (min-width: 750px) {
    .button {
        width: 50%;
        padding: 14px;
    }
}

@media screen and (min-width: 950px) {
    .button {
        width: 40%;
        padding: 14px;
    }
}